.collection-type-index {
	#page {
		max-width: 100%;
		padding: 0;
	}
	.page-content {
		max-width: @pageWidth;
		margin: 0 auto;
		padding: (@sitePadding * 3) @sitePadding;
	}
	.promoted-gallery-wrapper .sqs-block {
		padding-top: 0;
		padding-bottom: 0;
	}
}
.index-section.empty{
	.page-content{
		display: none;
	}
}


#header {
    position: fixed !important;
    width: 100%;
    z-index: 10000;
    background: #f5f3ec !important;
    color: #484242;
}
.header-text {
    text-align: right;
    display: block;
}
.header-inner {
    max-width: 1170px;
}
.call-now, .tag-line {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
.tag-line {
    margin-right: 200px;
}
#header.sticky {
    background: #484242 !important;
}
#promotedGalleryWrapper {
    padding-top: 140px;
}
.header-text.hide {
    display: none;
}
.header-text.show {
	display: block;
	vertical-align: middle;
}
.collection-type-page.has-promoted-gallery.transparent-header #promotedGalleryWrapper .sqs-gallery-block-slideshow .sqs-gallery, .collection-type-index.has-promoted-gallery.transparent-header #promotedGalleryWrapper .sqs-gallery-block-slideshow .sqs-gallery, .collection-type-page.has-promoted-gallery.transparent-header .promoted-gallery-wrapper .sqs-gallery-block-slideshow .sqs-gallery, .collection-type-index.has-promoted-gallery.transparent-header .promoted-gallery-wrapper .sqs-gallery-block-slideshow .sqs-gallery,
.collection-type-page.has-promoted-gallery.transparent-header #promotedGalleryWrapper .sqs-gallery-block-slideshow, .collection-type-index.has-promoted-gallery.transparent-header #promotedGalleryWrapper .sqs-gallery-block-slideshow, .collection-type-page.has-promoted-gallery.transparent-header .promoted-gallery-wrapper .sqs-gallery-block-slideshow, .collection-type-index.has-promoted-gallery.transparent-header .promoted-gallery-wrapper .sqs-gallery-block-slideshow {
    height: 500px !important;
}
#header {
	#headerNav {
		display: block;
	}
}
.tag-line p {
    margin: 0;
}
.header-text {
    margin: 5px auto 20px;
}
.sticky #headerNav {
    margin-top: 25px;
}
#headerNav {
    transform: all 0.3s linear;
}
#headerNav nav a,  #headerNav nav .folder-toggle {
    color: #484242 !important;
}
#headerNav .subnav a {
    color: #fff !important;
}
.nav-button-style-outline.enable-nav-button #headerNav nav > div:not(.folder):last-child a {
    border-color: #484242;
}
.nav-button-style-outline.enable-nav-button #headerNav nav > div:not(.folder):last-child a:hover {
    background-color: #484242;
    color:#fff !important;
}
.nav-button-style-outline.enable-nav-button .sticky #headerNav nav > div:not(.folder):last-child a {
    border-color: #fff;
    color:#fff !important;
}
.nav-button-style-outline.enable-nav-button .sticky #headerNav nav > div:not(.folder):last-child a:hover {
    background-color: #fff;
    color:#484242 !important;
}
.sticky #headerNav nav a,  .sticky #headerNav nav .folder-toggle {
    color: #fff !important;
}
